body{
    font-family: 'Times New Roman';
}

#imgqueen{
    height: 200px;
    width: 400px;
}

h1{
    color: #333;
    font-size: 20px;
}

h2{
    color: #666;
    font-size: 16px;
}
th{
    color: white;
    font-size: 16px;
}

tbody{
    background-color: #fff;
}
thead{
    background-color: #666;
}
tfoot{
    background-color: #ccc;
    
}
 td, li, br{
    color: #000;
    font-size: 16px;
}
th, td{
    border: 1px solid black;
    padding: 10px;
}
table{
    border-collapse: collapse;
}
a:hover{
    color: blue;
}
caption{
    color: #000;
    font-size: 14px;
}
