body{
    font-family: 'Courier New', Courier, monospace;
}
#id{
background-color: grey;
}
#normal{
    color: black;
}
#Especial{
    color: blue;
}
h2, h3{
    border: 1px solid orange;
}
#primer{
    color: red;
}
#segundo{
    color: green;
}
p ~ h3#parrafo{
    background-color: pink;
}
p + h3#despues{
    background-color: blue;
}
p > img{
    width: 120px;
    height: 80px;
    border: 5px solid black; 
}

img[alt="segunda"]{
    width: 120px;
    height: 80px;
    border: 5px solid red;
}